
html, body {
  padding: 0px;
  border: 0px;
  margin: 0px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #2a2f3a;
}

#goBtn {
  display: none;
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 50px;
  width: 125px;
  background-color: #1b1d20;
  border-style: none;
  border-radius: 5px;
  border: 3px solid rgb(55, 55, 85);
  color: rgb(97, 136, 170);
  z-index: 32767;
  cursor: pointer;
}

#jsonView {
  height: 100%;
}

#dropOverlay {
  position: absolute;
  opacity: .5;
  background-color: #142342;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  font-size: 300%;
  color: rgb(97, 136, 170);
}
